
@font-face {
    font-family: 'styrene A';
    src: url('fonts/Styrene A (wf-rip)/StyreneA-Medium.otf') format('woff');
    font-weight: normal;
}


@font-face {
    font-family: 'styrene A';
    src: url('fonts/Styrene A (wf-rip)/StyreneA-bold.otf') format('woff');
    font-weight: bold;
}

* {
    font-family: 'styrene A', 'sans-serif';
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-weight: normal;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

ol,
ul {
    list-style: none
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    color: #fff;
    mix-blend-mode: screen;
}


body {
    line-height: 1.2;
    overflow: hidden;
    font-size: 14px;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    border-radius: 15px;
    user-select: none
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}


.to-index body,.to-info body {
    background: #EAF7E1
}

@media only screen and (min-device-width: 320px) and (max-device-width:812px),screen and (max-width:700px) {
    body {
        font-size:3vmin
    }
}

@media only screen and (min-width: 1441px) {
    body {
        font-size:1.041vw
    }
}
@media only screen and (max-width: 950px) {
    .box-c {
        font-size:12px
    }
}

@media only screen and (max-width: 650px) {
    .box-c {
        font-size:10px;
    }
}

@media only screen and (max-width: 396px) {
    .box-c {
        font-size:9px
    }
}




.landing.to-home main {
    opacity: 0
}

section {
    width: 100%;
    height: 100vh;
    background: #fff
}

@media only screen and (min-device-width: 320px) and (max-device-width:812px),screen and (max-width:700px) {
    section {
        height:calc(var(--vh, 1vh)*100)
    }
}


nav {
    display: flex;
    width: 100%;
    left: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 2;
    transition: color .45s cubic-bezier(.645,.045,.355,1);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    justify-content: space-between;

    position: fixed;
    bottom: 3rem;
    
}

nav li{
      position: absolute;
    right: 3rem;
    bottom: 0rem; 
}
.desc{
    padding-left: 3rem;
    
}

nav a {
    pointer-events: auto;
    transition: color .15s cubic-bezier(.215, .61, .355, 1) .25s
}


.to-index nav,.to-info nav {
    color: #fff
}

@media not all and (pointer: coarse) {
    nav a:hover {
        opacity:1
    }
}

.homepage {
    width: 100vw;
    height: 100vh
}

.landing.to-home .homepage {
    background: none
}

.homepage .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
   background-color: #eceff1;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden
}


.homepage img {
    
    position: absolute;
    z-index: 6;
    height: 25vw;
 
    cursor: pointer;

}


@media screen and (max-device-width: 480px) {
    .homepage img {
        height:50vw
    }
}



.intro {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    
    color: #0b0b0b
}

.desc,ul {
    max-width: 250px;
    /* padding:  3rem;     */
}

.homepage {
    width: 100vw;
    height: 100vh
}


.homepage .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #eceff1;
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden
}


.box {
    width: 100%;
    height: 100vh;
}

.box1{
    visibility: hidden;
}

.box3{
    visibility: visible;
}

.box-c{
    background-color: #EAF7E1;
    padding: 3rem ;
}

.blend  {
    mix-blend-mode: difference;
    color: black;
    
  }

.red {
color: white;
}


body,html {
    background:#EAF7E1; 
}

.fa-ellipsis{
    font-size: 2rem;
    color: white !important;
}

.close{
    color: white !important;
}

.abs{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .3;
}

.info-nav-icon a{
    margin: 0px auto;
}


